.aside{position:relative;float:left;height:100%;background:#f8f8f8;border-right:1px solid #d2d2d2;}
.icon{
	display:inline-block;
	width:16px;
	height:16px;
	margin:3px 0 -3px;
}
.triangle-up-icon{
	background: url(../image/icons.png) no-repeat -485px -28px;
}
.triangle-down-icon{
	background: url(../image/icons.png) no-repeat -485px -5px;
}
.triangle-left-icon{
	background: url(../image/icons.png) no-repeat -508px -28px;
}
.triangle-right-icon{
	background: url(../image/icons.png) no-repeat -508px -5px;
}
.book-group-icon{
	background: url(../image/icons.png) no-repeat -53px -28px;
}
.book-icon{
	background: url(../image/icons.png) no-repeat -4px -5px;
}
.add-icon{
	background: url(../image/icons.png) no-repeat -220px -5px;
}

a{text-decoration:none;color:#333339;outline:none;}
.item{
	display: block;
	line-height: 22px;
	outline: none;
	background-color: #f8f8f8;
	cursor: pointer;
}
.item:hover{
	background-color: #edeff0;
}
.item:focus{
	background-color: #dae7f2;
}
.bold{
	font-weight: bold;
}
.big-font{
	font-size: 18px;
}
.title-area{
	text-align: center;
	display: block;
	height: 45px;
	line-height: 45px;
	border-bottom: 1px solid #d2d2d2;
}
.text-center {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
.on{

}