.icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 7px 0 -3px;
}
.triangle-up-black-icon{
    background: url(../image/icons.png) no-repeat -485px -28px;
}
.triangle-down-black-icon{
    background: url(../image/icons.png) no-repeat -485px -5px;
}
.triangle-down-black-hide-icon{
    display: block;
    outline: none;
    background: url(../image/icons.png) no-repeat -485px -5px;
    visibility: hidden;
}
.triangle-down-gray-icon{
    background: url(../image/icons.png) no-repeat -532px -5px;
}
.triangle-left-black-icon{
    background: url(../image/icons.png) no-repeat -508px -28px;
}
.triangle-right-black-icon{
    background: url(../image/icons.png) no-repeat -508px -5px;
}
.triangle-right-gray-icon{
    background: url(../image/icons.png) no-repeat -555px -5px;
}
.book-group-icon{
    background: url(../image/icons.png) no-repeat -53px -28px;
}
.book-icon{
    background: url(../image/icons.png) no-repeat -4px -5px;
}
.add-icon{
    background: url(../image/icons.png) no-repeat -220px -5px;
}
.search-icon {
    background: url(../image/icons.png) no-repeat -460px -5px;
}
.delete-icon {
    visibility: hidden;
    background: url(../image/icons.png) no-repeat -4px -28px;
}
.gray-star-icon{
    background: url(../image/icons.png) no-repeat -75px -5px;
}
.gray-edit-align-bold-icon{
    background: url(../image/icons2.png) no-repeat -54px -62px;
}
.blue-edit-align-bold-icon{
    background: url(../image/icons2.png) no-repeat -54px -158px;
}
.gray-edit-align-italic-icon{
    background: url(../image/icons2.png) no-repeat -77px -62px;
}
.blue-edit-align-italic-icon{
    background: url(../image/icons2.png) no-repeat -77px -158px;
}
.gray-edit-align-underline-icon{
     background: url(../image/icons2.png) no-repeat -102px -62px;
}
.blue-edit-align-underline-icon{
    background: url(../image/icons2.png) no-repeat -102px -158px;
}
.gray-edit-align-crossline-icon{
    background: url(../image/icons2.png) no-repeat -125px -62px;
}
.blue-edit-align-crossline-icon{
    background: url(../image/icons2.png) no-repeat -125px -158px;
}
.gray-edit-align-left-icon{
    background: url(../image/icons2.png) no-repeat -149px -62px;
}
.blue-edit-align-left-icon{
    background: url(../image/icons2.png) no-repeat -149px -158px;
}
.gray-edit-align-center-icon{
    background: url(../image/icons2.png) no-repeat -174px -62px;
}
.blue-edit-align-center-icon{
    background: url(../image/icons2.png) no-repeat -174px -158px;
}
.gray-edit-align-right-icon{
    background: url(../image/icons2.png) no-repeat -197px -62px;
}
.blue-edit-align-right-icon{
    background: url(../image/icons2.png) no-repeat -197px -158px;
}