html,body{
    font:12px "Microsoft Yahei","微软雅黑","黑体","SimHei",Arial,sans-serif;
    color:#2E2E2E;
    height:100%
}
body{
    overflow:hidden;
    margin:0px;
    padding:0px;
}
a{
    text-decoration:none;
    color:#3790ce;
    outline:none;
}
input,textarea{
    padding:0;
    margin:0;
    border:none;
    outline:none;
}
img{
    border:none;
}
.aside{
    position:relative;
    float:left;
    height:100%;
    background:#f8f8f8;
    border-right:1px solid #d2d2d2;
}
.top{
    height:30px;
    padding:0 12px;
    overflow:hidden;
    line-height:30px;
    color:#fff;
    background:#3790ce;
}
.note-logo{
    float:left;
    font-size:16px;
    line-height:30px;
    color:#2E2E2E;
}
.func{
    line-height:22px;
    padding:0 6px;
}
.list .func-hd a{padding-left:18px;}
.list-expanded .func-bd{display:block;}
.list-expanded .list-item .ico-list-arrow-collapsed{background-position:-487px -7px;}
.root-notebook .sub-i{padding-left:18px !important;}

button,.btn{
    display:inline-block;
    margin:0;
    padding:0 5px;
    line-height:30px;
    height:30px;
    font:bold 12px/28px "微软雅黑",Arial,"华文黑体","黑体",sans-serif;
    color:#2e2e2e;
    background:#e3edf9;
    border-radius:1px;
    border:1px solid #bdd5ee;
    cursor:pointer;
}
ul{
    list-style: square inside url('../image/icons.png')
}



::-webkit-scrollbar{
    height:8px;
    width:8px;
    background:rgba(222, 222, 222, 0.5);
    border-radius:5px;
}
::-webkit-scrollbar-button{
    display:none;
}
::-webkit-scrollbar-track{
    background-color:#ffffff;
}
::-webkit-scrollbar-track-piece{
    background:#ffffff;
}
::-webkit-scrollbar-thumb{
    width:8px;
    min-height:15px;
    background:rgba(0, 0, 0, 0.3);
    border-radius:5px;
}
::-webkit-scrollbar-thumb:hover{
    background:rgba(0, 0, 0, 0.6);
}
::-webkit-scrollbar-thumb:active{
    background:rgba(0, 0, 0, 0.8);
}