html,body{font:12px/1 "Microsoft Yahei","微软雅黑","黑体","SimHei",Arial,sans-serif;color:#2E2E2E;height:100%;}
a{text-decoration:none;color:#3790ce;outline:none;}
input,textarea{padding:0;margin:0;border:none;outline:none;}
h2{font-size:16px;}
h3{font-size:14px;}
body{overflow:hidden;margin:0px;padding:0px;}
::-webkit-scrollbar{height:8px;width:8px;background:rgba(222, 222, 222, 0.5);border-radius:5px;}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-track{background-color:#ffffff;}
::-webkit-scrollbar-track-piece{background:#ffffff;}
::-webkit-scrollbar-thumb{width:8px;min-height:15px;background:rgba(0, 0, 0, 0.3);border-radius:5px;}
::-webkit-scrollbar-thumb:hover{background:rgba(0, 0, 0, 0.6);}
::-webkit-scrollbar-thumb:active{background:rgba(0, 0, 0, 0.8);}
html,body,h1,h2,h3,p,form,ul,ol,li,dl,dt,dd,form{padding:0;margin:0;list-style:none;}
.aside{position:relative;float:left;height:100%;background:#f8f8f8;border-right:1px solid #d2d2d2;}




.func{line-height:22px;padding:0 6px;}
.func-hd .title{font-weight:bold;}
.func-bd{display:none;}
.root-new-notebook{position:absolute;right:3px;top:3px;height:15px;width:15px;padding:0;}
.list-expanded .func-bd{display:block;}
.list .func-hd a{padding-left:18px;}
.list a{position:relative;display:block;height:22px;border:1px solid transparent;color:#333;}
.list .trash{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.root-notebook .sub-i{padding-left:18px !important;}
.list-item .title-num{display:inline-block;padding-left:30px;margin-left:-30px;width:100%;}
.list-item .title-edit{display:inline-block;max-width:90px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.list-item .title{display:inline-block;max-width:85%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.list-item .num{display:inline-block;overflow:hidden;margin-left:4px;color:#999999;position:absolute;}
.list a:hover{border-color:#edeff0;background:#edeff0;cursor:pointer;}
.list a:active,.list .on a,.list a.on{border-color:#bad4e9;background:#dae7f2;}
.list .on .title{font-weight:bold;}
.list .notebook a{padding-left:39px;padding-right:30px;}
.list .notebook .num{color:#b4b4b4;}
.list .notebook-group a{padding-left:18px;}
.list .notebook-group .notebook a{padding-left:39px;}
.top{height:30px;padding:0 12px;overflow:hidden;line-height:30px;color:#fff;background:#3790ce;}