<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangshan.dao.NoteDao">
    <resultMap id="NoteBookResult" type="NoteBook">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="noteBookGroup" column="note_book_group_id"/>
        <result property="remark" column="remark"/>
        <result property="state" column="state_id"/>
        <result property="createon" column="create_on"/>
        <result property="updateon" column="update_on"/>
    </resultMap>
    <insert id="insertNote" parameterType="Note" keyProperty="id">
        insert into note_book( name, note_book_group, remark, state, createon, updateon)
        values
        (#{name},#{noteBookGroup},#{remark},#{state},#{createon},#{updateon})
    </insert>

    <select id="selectNotes" resultMap="NoteBookResult">
        select * from Note_book
    </select>

</mapper>