<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangshan.dao.NoteBookGroupDao">
    <resultMap id="NoteBookGroupResult" type="NoteBookGroup">
        <id property="id" column="nbg_id"/>
        <result property="name" column="nbg_name" />
        <result property="remark" column="nbg_remark"/>
        <result property="state" column="nbg_state_id"/>
        <result property="createon" column="nbg_create_on"/>
        <result property="updateon" column="nbg_update_on"/>
    </resultMap>

    <resultMap id="NoteBookGroupFormResult" type="NoteBookGroupForm">
        <association property="noteBookGroup" javaType="NoteBookGroup" resultMap="NoteBookGroupResult"/>
        <collection property="noteBookFormList" ofType="NoteBookForm" resultMap="com.wangshan.dao.NoteBookDao.NoteBookFormResult"></collection>
    </resultMap>

    <insert id="insertNoteBookGroup" parameterType="NoteBookGroup" keyProperty="id">
        insert into note_book_group( name, remark, state, createon, updateon)
        values (#{name},#{remark},#{state},#{createon},#{updateon})
    </insert>

    <select id="selectNoteBookGroups" resultMap="NoteBookGroupResult">
        select * from note_book_group
    </select>

    <select id="selectGroupByUser" resultMap="NoteBookGroupResult">
        select nbg.* from user left join user_has_note_book_group uhn on uhn.user_id = user.id left join note_book_group nbg on
          nbg.id = uhn.note_book_group_id
    </select>

</mapper>