<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangshan.dao.NoteDao">
    <resultMap id="NoteResult" type="Note">
        <id property="id" column="id"/>
        <result property="name" column="name" />
        <result property="noteBookGroup" column="note_book_group_id"/>
        <result property="noteBook" column="note_book_id"/>
        <result property="title" column="title"/>
        <result property="digest" column="digest"/>
        <result property="media" column="media"/>
        <result property="content" column="content"/>
        <result property="remark" column="remark"/>
        <result property="state" column="state_id"/>
        <result property="createon" column="create_on"/>
        <result property="updateon" column="update_on"/>
    </resultMap>

    <select id="selectNotes" resultMap="NoteResult">
        select * from note where state_id = 1
    </select>

    <select id="selectNote" resultMap="NoteResult">
        select * from note where id = #{0} and state_id = 1
    </select>

    <select id="selectNoteLitesByGroup" resultMap="NoteResult">
        select id, name, note_book_group_id, note_book_id, title, digest, media, size, remark, state_id, create_on, update_on
          from note where note_book_group_id = #{group} and state_id = 1
    </select>

    <select id="selectNoteLitesByBook" resultMap="NoteResult">
        select id, name, note_book_group_id, note_book_id, title, digest, media, size, remark, state_id, create_on, update_on
          from note where note_book_id = #{noteBook} and state_id = 1
    </select>

    <select id="selectNoteLites" resultMap="NoteResult">
        select id, name, note_book_group_id, note_book_id, title, digest, media, size,remark, state_id, create_on, update_on
        from note where state_id = 1
    </select>

    <update id="updateNoteContent">
        update note set content = #{1}, size = #{2}, digest = #{3} where id = #{0}
    </update>

    <insert id="addNote" parameterType="Note" useGeneratedKeys="true" keyProperty="id">
        insert into note(name, note_book_group_id, note_book_id, note_count, remark, state_id, create_on, update_on)
        values (#{name},#{noteBookGroup}, #{noteBook},#{noteCount},#{remark},#{state},#{createon},#{updateon})
    </insert>

    <update id="updateNote" parameterType="Note">
        update note set name = #{name}, note_book_group_id = #{noteBookGroup}, note_book_id = #{noteBook}, title = #{title}, remark = #{remark},
        state_id = #{state}, update_on = #{updateon} where id = #{id}
    </update>
	
	<update id="deleteNote" parameterType="Note">
        update note set state_id = #{state}, update_on = #{updateon} where id = #{id}
    </update>
</mapper>