<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangshan.dao.NoteBookDao">
    <resultMap id="NoteBookResult" type="NoteBook">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="noteBookGroup" column="note_book_group_id"/>
		<result property="noteCount" column="note_count"/>
        <result property="remark" column="remark"/>
        <result property="state" column="state_id"/>
        <result property="createon" column="create_on"/>
        <result property="updateon" column="update_on"/>
    </resultMap>

    <resultMap id="NoteBookFormResult" type="NoteBookForm">
        <association property="noteBook" javaType="NoteBook" resultMap="NoteBookResult"/>
        <collection property="noteList" ofType="Note" resultMap="com.wangshan.dao.NoteDao.NoteResult"></collection>
    </resultMap>

    <select id="selectNoteBooks" resultMap="NoteBookFormResult">
         select * from note_book left join note on note_book.id = note.note_book_id where state_id = 1
    </select>
	
	<select id="selectNoteBook" resultMap="NoteBookResult">
         select * from note_book where id = #{0} and state_id = 1
    </select>
	
    <insert id="addNoteBook" parameterType="NoteBook" useGeneratedKeys="true" keyProperty="id">
        insert into note_book( name, note_book_group_id, note_count, remark, state_id, create_on, update_on)
			values (#{name},#{noteBookGroup},#{noteCount},#{remark},#{state},#{createon},#{updateon})
	</insert>

    <update id="updateNoteBook" parameterType="NoteBook">
        update note_book set name = #{name}, note_book_group_id = #{noteBookGroup}, note_count = #{noteCount}, remark = #{remark},
          state_id = #{state}, update_on = #{updateon} where id = #{id}
    </update>
	
	<update id="deleteNoteBook" parameterType="NoteBook">
        update note_book set state_id = #{state}, update_on = #{updateon} where id = #{id}
    </update>
	
	<update id="reduceNoteCount">
        update note_book set note_count = note_count-1 where id = #{0}
    </update>

    <update id="addNoteCount">
        update note_book set note_count = note_count+1 where id = #{0}
    </update>
</mapper>