<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangshan.dao.UserHasNoteBookGroupDao">
    <resultMap id="UserHasNoteBookGroupResult" type="UserHasNoteBookGroup">
        <id property="user" column="user_id"/>
        <result property="noteBookGroup" column="note_book_group_id" />
        <result property="order" column="order"/>
        <result property="state" column="state_id"/>
        <result property="createon" column="create_on"/>
        <result property="updateon" column="update_on"/>
    </resultMap>

    <resultMap id="UserHasNoteBookGroupFormResult" type="UserHasNoteBookGroupForm">
        <association property="user" javaType="User" resultMap="com.wangshan.dao.UserDao.UserResult"/>
        <collection property="noteBookGroupFormList" ofType="NoteBookGroupForm" resultMap="com.wangshan.dao.NoteBookGroupDao.NoteBookGroupFormResult"></collection>
    </resultMap>

    <select id="selectNoteBookGroupByUser" resultMap="UserHasNoteBookGroupFormResult">
        select user.id, user.name, user.gender, user.mobile, user.update_on, nbg.id as nbg_id, nbg.name as nbg_name, nbg.state_id as nbg_state_id, nbg.update_on as nbg_update_on,
          nb.id as nb_id, nb.name as nb_name, nb.note_book_group_id as nb_note_book_group_id, nb.order as nb_order, nb.create_on as nb_create_on,
          nb.update_on as nb_update, note.id as n_id, note.name as n_name, note.note_book_group_id as n_note_book_group_id,
          note.note_book_id as n_note_book_id, note.title, note.digest, note.media, note.content, note.remark as n_remark,note.create_on as n_create_on,
          note.update_on as n_update_on
          from user left join user_has_note_book_group uhn on uhn.user_id = user.id  left join note_book_group nbg
          on nbg.id = uhn.note_book_group_id left join note_book nb on nb.note_book_group_id = nbg.id left join note on
          note.note_book_id = nb.id where user.id = #{0} user.state_id = 1 and nbg.state_id = 1 and nb.state_id = 1 and note.state_id = 1
    </select>

</mapper>