<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias alias="User" type="com.wangshan.models.User"/>
		<typeAlias alias="UserToken" type="com.wangshan.models.UserToken"/>
        <typeAlias alias="UserHasNoteBookGroup" type="com.wangshan.models.UserHasNoteBookGroup"/>
        <typeAlias alias="NoteBookGroup" type="com.wangshan.models.NoteBookGroup"/>
        <typeAlias alias="NoteBook" type="com.wangshan.models.NoteBook"/>
        <typeAlias alias="Note" type="com.wangshan.models.Note"/>
        <typeAlias alias="UserHasNoteBookGroupForm" type="com.wangshan.models.forms.UserHasNoteBookGroupForm"/>
        <typeAlias alias="NoteBookGroupForm" type="com.wangshan.models.forms.NoteBookGroupForm"/>
        <typeAlias alias="NoteBookForm" type="com.wangshan.models.forms.NoteBookForm"/>
    </typeAliases>

    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>