<div class="aside">
  <div>
    <div class="title-area">
      <span class="text-center big-font bold">css测试</span>
    </div>
    <div>
      <div tabindex="0" class="item"><i class="icon triangle-down-black-icon"></i><span class="bold">全部测试</span><i class="icon add-icon float-right"></i></div>
      <div ng-repeat="group in groups">
        <div tabindex="0" class="item">
          <i class="icon" ng-class="{'triangle-right-gray-icon': group.isFold, 'triangle-down-gray-icon': !group.isFold}" ng-click="foldGroup(group.id)"></i>
          <i class="icon book-group-icon"></i>
          <span class="padding-left-3" ng-bind="group.name" ng-click="getNotes(group.id)"></span>
          <span class="padding-left-3 gray-small">(<span ng-bind="group.noteCount"></span>)</span>
          <div tabindex="0" class="icon triangle-down-black-hide-icon float-right"></div>
          <div class="menu-bar">
            <div class="menu-bar-item" ng-repeat="popItem in groupPopupItems"><span ng-bind="popItem.value"></span></div>
          </div>
        </div>
        <div tabindex="0" class="item margin-left-25" ng-class="{'hidden': group.isFold}" ng-repeat="noteBook in group.noteBooks">
          <i class="icon book-icon"></i>
          <span class="padding-left-3" ng-bind="noteBook.name"></span>
          <span class="padding-left-3 gray-small">(<span ng-bind="noteBook.noteCount"></span>)</span>
          <i tabindex="0" class="icon triangle-down-black-hide-icon float-right"></i>
          <div class="menu-bar">
            <div class="menu-bar-item" ng-repeat="popItem in notebookPopupItems"><span ng-bind="popItem.value"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>