<div class="aside">
  <div style="width:204px;">
    <div class="title-area">
      <span class="text-center big-font bold">css测试</span>
    </div>
    <div>
      <div tabindex="0" class="item"><i class="icon triangle-down-black-icon"></i><span class="bold">全部测试</span><i class="icon add-icon float-right"></i></div>
      <div>
        <div tabindex="0" class="item">
          <i class="icon triangle-right-gray-icon"></i>
          <i class="icon book-group-icon"></i>
          <span class="padding-left-3">测试</span>
          <span class="padding-left-3 gray-small">(11)</span>
          <i class="icon triangle-down-black-icon float-right"></i>
        </div>
        <div tabindex="0" class="item">
          <i class="icon book-icon margin-left-20"></i>
          <span class="padding-left-3">测试</span>
          <span class="padding-left-3 gray-small">(11)</span>
          <i class="icon triangle-down-black-icon float-right"></i>
        </div>
      </div>
      <!--<div class="func list" ng-class="{'list-expanded': openRoot == true}">-->
        <!--<div class = "func-hd root-notebook on">
          &lt;!&ndash;<span>全部笔记</span>&ndash;&gt;
        </div>-->
        <!--<div class="func-hd root-notebook" ng-class="{'on': focusRoot == true}">
          <a class="list-item">
            <span class="title-num">
              <span class="title">全部笔记11</span>
              <span class="num">(<span ng-bind="totalNoteCount"></span>)</span>
            </span>
            <div class="root-new-notebook btn" title="新建笔记本">
              <span>新建</span>
              <i class="add-icon"></i>
            </div>
          </a>
        </div>-->
        <!--<div class="func-bd">
          <ul>
            <li ng-repeat="group in groups" class = "notebook" ng-class="{'notebook-fold ': openGroup != group.id, 'on': focusGroup == group.id}">
              <a class="list-item">
                <i class="ico" ng-class="{'ico-book-group': group.notebooks.length >= 1, 'ico-book': group.notebooks.length == 0}"></i>
                <span class="titele-num">
                  <span class="title" ng-bind="group.name"></span>
                  <span class="num">(<span ng-bind="group.noteCount"></span>)</span>
                </span>
              </a>
              <ul ng-repeat="notebook in group.notebooks">
                <li class="notebook on">
                  <a class="list-item sub-i">
                    <i class="ico ico-book"></i>
                    <span class="title-num">
                      <span class="title"><span ng-bind="notebook.name"></span></span>
                      <span class="num"><span ng-bind="notebook.noteCount"></span></span>
                    </span>
                    <i class="ico ico-list-arrow action"></i>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>-->
      <!--</div>-->
    </div>
  </div>
</div>